body {
  margin: 0;
  padding: 0;
  background-color:#2c3e50;
}

.container {
	margin-top: 4%;
	width: 1280px;
	height: 720px;
	border: white solid 10px;
}

.ship_part {
	margin: 10px !important;
	border: white solid 2px;
	width: 64px;
	height: 64px;
}

.view {
	position: absolute;
}

#zoom {
	top: 575px;
	left: 1200px;

	a {
		width:60px;
		height:60px
	}
}

.zoom {
	width:40px;
	height:40px;
	display:block;
	background-image: url('../images/zoomicons.png');
	margin-left: -5px;
}

.zoomIn {
	background-position: 40px;
}

#gameCanvas {
  position: absolute;
}


#teleport {
	top: 498px;
	left: 1314px;
}

#ship-pos {
	margin-top: -10px;
	margin-bottom: 10px;
}

.login-screen {
  background-color: #1abc9c;
  min-height: 473px;
  padding: 123px 199px 33px 306px;
}
.login-icon {
  left: 200px;
  position: absolute;
  top: 160px;
  width: 96px;
}
.login-icon > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
.login-icon > h4 {
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.login-icon > h4 small {
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 700;
}
.login-form {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;

  position:relative;
}
.login-form:before {
  content: '';
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #edeff1 transparent transparent;
  height: 0;
  position: absolute;
  left: -12px;
  top: 35px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
.login-form .control-group {
  margin-bottom: 6px;
  position: relative;
}
.login-form .login-field {
  border-color: transparent;
  font-size: 17px;
  text-indent: 3px;
}
.login-form .login-field:focus {
  border-color: #1abc9c;
}
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}